body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #94d8e9;
    
    display:flex;
    flex-direction: column; 
    background-image: url(assets/images/map-blurred.png);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: monospace;

}

#start-screen {
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
   
}

#start-button {
    padding: 20px 60px;
    font-size: 24px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#start-button:hover {
    background: #c0392b;
    transform:scale(1.1); 
}